<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">Add Contact</p>
      <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos velit delectus dignissimos ab voluptatum nam.</p>
    </div>
  </div>
</div>
<!-- create contact form -->


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Photo Url">
        </div>
        <div class="mb-2">
          <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="mb-2">
          <input type="number" class="form-control" placeholder="Mobile">
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Company" >
        </div>
        <div class="mb-2">
          <input type="text" class="form-control" placeholder="Title">
        </div>
        <div class="mb-2">
          <select name="group" class="form-control">
            <option value="">Select a Group</option>
            <option value=""></option>
          </select>
        </div>
        <div class="mb-2">
          <input type="submit" class="btn btn-danger" value="Create">
          <a routerLink="/" class="btn btn-dark mx-2">Close</a>
        </div>
      </form>
    </div>
    <div class="col-sm-4">
      <img class="contact-img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn4.iconfinder.com%2Fdata%2Ficons%2Fgreen-shopper%2F1068%2Fuser.png&f=1&nofb=1" alt="">
    </div>
  </div>
</div>
